# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
*.env

# SQLite DB
db.sqlite3
*.sqlite3

# Logs
*.log

# Unit test / coverage
.coverage
htmlcov/
*.cover
coverage.xml

# Media / Uploaded files
/media/
media/

# Django static + cache
/static/
staticfiles/
static/
*.collectstatic/

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# Mac system files
.DS_Store

# Vim swap files
*.swp

# Translations
*.pot
*.mo

# MyPy / Pyright
.mypy_cache/
.pyright/
